
<!--<div>-->
<!--  <div [ngSwitch]="role">-->
<!--    <div *ngSwitchCase="'User'">Welcome user</div>-->
<!--    <div *ngSwitchCase="'Admin'">-->
<!--      &lt;!&ndash; <ng-template #rooms></ng-template> &ndash;&gt;-->
<!--      <hinv-container>-->
<!--        <hinv-employee></hinv-employee>-->
<!--        <hinv-rooms></hinv-rooms>-->
<!--      </hinv-container>-->
<!--    </div>-->
<!--    <h1 #name></h1>-->
<!--  </div>-->
<!--</div>-->

<hinv-app-nav></hinv-app-nav>

<!--<a [routerLink]="'employee'">Employee</a>-->
<!--<a [routerLink]="'rooms'">Rooms</a>-->

<!--<router-outlet></router-outlet>-->



