

<!-- {{rooms?.availableRooms ?? 'No rooms available'}} -->
<div *ngIf="selectedRoom">{{selectedRoom | json}}</div>

<h1>

  {{error$ | async}}

</h1>
<div style="padding: 10px; margin: 10px;">
  <button style="padding: 10px; margin: 10px;" class="btn btn-primary" (click)="toogle()">Toogle</button>
  <!--    <button style="padding: 10px; margin: 10px;" class="btn btn-primary" routerLink="add-room">Add room</button>-->
<!--  <button style="padding: 10px; margin: 10px;" class="btn btn-primary" (click)="updateRoom()">Update room</button>-->
</div>

<div>
  <input id="getRoomNumber" type="text">
  <button style="padding: 10px; margin: 10px;" class="btn btn-primary" (click)="deleteRoom()">Delete room</button>
</div>

<h1>
  Total number of rooms is {{roomsCount$ |async}}
</h1>

<div *ngIf="hideRooms">

  <hinv-rooms-list [rooms]="rooms$ | async" (selectedRoom)="selectRoom($event)" [title] ="title"></hinv-rooms-list>

</div>







